<div class="container">
    <h1 class="text-4xl font-bold text-center mb-5">Tizimga kirish sahifasi</h1>
    <label class="input input-bordered flex items-center gap-2">
        <b>Username:</b>
        <input type="text" class="grow" placeholder="bolta nomer adin" />
        <span class="badge badge-error">majburiy</span> 
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <b>Parol:</b>
        <input type="password" class="grow" placeholder="********" />
        <span class="badge badge-error">majburiy</span>
    </label>
    <app-link
        href="/signup"
        text="Ro'yxatdan o'tish uchun bosing."
    />
    <button class="btn btn-success">Tizimga kirish</button>
</div>