.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100vh;
    margin: auto auto;
}

.input {
    margin-bottom: 20px;
}

app-link {
    margin: 0 auto;
    margin-bottom: 20px;
}

.file-input {
    border-radius: 50%;
    width: 200px;
    height: 20px;
}

/* */
/* Konteyner */
.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Dumaloq rasm */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.profile-pic:hover {
    border-color: #007bff;
}

/* Ichidagi rasm */
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Inputni yashirish */
#file-input {
    display: none;
}